/* .Character {esto sería dentro de el className de la fila donde lo quiera meter
    display: flex;
    justify-content:space-between
} */
.Character {
  margin-right: 20px;
  background-color: rgb(155, 155, 155);
  padding: 5px;
  border: 1px solid white;
  border-radius: 10px;
  min-width: 150px;
  max-width: 350px;
  width: 20%;
}
.foto {
  width: 100%;
}

.Individual {
  margin-right: 5px;
  background-color: rgb(155, 155, 155);
  padding: 5px;
  border: 1px solid white;
  border-radius: 10px;
}

.Image {
  width: 100%;
}
.Filtros {
  width: 100%;
  height: 100%;
  display: flex;

  flex-direction: column;

  /* justify-content: space-between; */
}
.Filter{
  display:flex;
  flex-direction: column;
  margin:50px;
  /* height: 100%; */
}
.Content {
  display: flex;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.FilaCharacter {
  display: flex;
}
.InfoImage {
  border: 1px solid grey;
  width: auto;
}
.Header {
  /* border:2px 2px solid grey; */
  color: black;
  width: 250px;
  display: flex;
  flex-direction: column;
}
.button {
  /* display:flex;
    border:5px solid black; 
  display: flex;
  -moz-box-pack: justify;
  justify-content: space-between;
  -moz-box-align: center;
  align-items: center;
  margin: 0px auto;
  max-width: 120px;
  min-height: 80px;
  padding: 0px 20px; */

  align-items: center;
  margin: 0px auto;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  max-width: 120px;
  min-height: 60px;
  padding: 0px 20px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: gray;
  border: º0px;
  display: flex;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Span {
  text-align: left;
  color: black;
}

.p {
  text-align: center;
  color: solid yellow;
}
